.navigation {
  position: absolute; // position absolute to relative main-container
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $sidebar-dark-color;
  width: 190px;
  height: 100vh;

  > * {
    border-top: 1px solid $bg-dark-color;
  }

  .logo-container {
    @include flex(row, center, space-between);
    width: 100%;
    height: 60px;
    padding: 18px;
    border: none;

    .logo {
      font-family: $font-brand;
      color: $highlight-text-color;
      font-size: 28px;
      margin: 0;
      transition: $transition ease-in-out;
    }

  }

  .menu-toggler {
    @include i-svg(20px, $base-text-color);
    position: absolute;
    left: 80%;
  }

  .sidebar-nav {
    .list {
      padding: 0;
    }

    li {
      @include flex(row, center, flex-start);
      position: relative;
      height: 40px;
      margin: 0;
      padding: 0 12px;
      transition: $transition ease-in-out;
      cursor: pointer;
      user-select: none;

      &.active { // has to be added by js
        background-color: rgba(255, 255, 255, 0.2);
      }

      .link-list-header {
        position: absolute;
      }

    }

    li .link {
      color: $base-text-color;

      i {
        padding-right: 14px;
        position: relative;

      }
    }

    &.link- {
      position: absolute;
      
    }

    li:hover, li.active {
      border-left: 5px solid $brand-main-color;

      .link {
        color: $highlight-text-color;
      }
    }
  }

  .avatar-wrapper {
    @include flex(column, flex-start, center);
    padding: 28px 12px;
    cursor: pointer;
    user-select: none;

    div {
      @include flex(row, center, space-between);
      width: 130px;
    }

    .avatar-img {
      position: relative;
      width: fit-content;
      height: fit-content;

      img {
        height: 45px;
        width: 45px;
        border-radius: 50%;
      }
    }

    .avatar-img::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 2px;
      right: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $checked;
    }
  }

  .mobile-topbar-content { // on mobile display: flex
    display: none;
  }
}