/* Headers & texts */
.section-header {
  @include header($base-text-color, $base-font-size, $font-normal);
  text-transform: uppercase;
}

.subsection-header {
  @include header($base-text-color, $base-font-size, $font-normal);
}

.text {
  @include header($sidebar-dark-color, 14px, $font-light);
}

/* Buttons */

.btn {
  @include btn($highlight-text-color);

  &:hover {
    color: $highlight-text-color;
  }
}

.btn-default {
  background-color: $brand-main-color;
  padding: 6px 20px;

  &:hover {
    background-color: $hover-light-color;
  }
}

.btn-extra-action {
  background-color: $bg-dark-color;
  padding: 6px 20px;

  &:hover {
    background-color: $hover-dark-color;
  }
}

.btn-refresh {
  background-color: $brand-main-color;
  padding: 6px 12px;

  &:hover {
    background-color: $hover-light-color;
  }
}

/* Links */

.link {
  @include a($link-color);
}

.link-large {
  @include a($link-color);
  font-size: $base-font-size;
}

.link-small {
  @include a($link-color);
  font-size: 14px;
}

.icon-link {
  @include i-svg($base-font-size, $link-color);
  
  &__color {
    @include i-svg($base-font-size, $brand-main-color);
  }

  &__noncolor {
    @include i-svg($base-font-size, $base-text-color);
  }

  &__small {
    @include i-svg($base-size, $base-text-color);
  }
}

/* Lists */

.list {
  list-style: none;
}

.one-digit-list {
  max-width: 310px;

  li {
    @include flex(row, center, space-between);
    border-bottom: 1px solid $bg-light-color;
    font-size: $base-font-size;

    .list-header {
      font-size: $base-font-size;
      font-weight: $font-normal;
      margin: 2px 0;
    }

    .list-text {
      color: $sidebar-dark-color;
      font-size: $base-font-size;
      margin: 2px 0;
    }
  }
}

/* Form elements */

/* optional */
// form { 
//   @include flex(column, center, center);

//   .form-wrapper {
//     min-width: 470px;
//   }
// }

.input-container {
  @include flex(row, flex-start, space-between);
  max-width: 450px;
  margin: 10px;

  .required-decor {
    color: $required;
  }

  label {
    text-align: left;
    font-weight: $font-normal;
    white-space: pre-line;
    max-width: 100px;
  }

  .form-input {
    border: 1px solid $bg-light-color;
    border-radius: $radius;
    padding: $base-size;
    width: 300px;
    min-height: 40px;

    &:focus {
      outline: none;
      border-color: $sidebar-dark-color;
      color: $sidebar-dark-color;
    }

  }
}

select {
  width: 330px;
  height: 40px;
  border-radius: $radius;
  border: 1px solid $bg-light-color;
  color: $base-text-color;
  // appearance: none;         /* Remove default arrow */
  // background-image: url(/dist/vendor/icons/arrow-down-small.svg);    /* Add custom arrow */

  option {
    width: 100%;
  }
}

.checkbox-list .list li {
  @include flex(row, center, space-between);
  max-width: 320px;
  height: 40px;

  .icon-link {
    display: none;
    margin: 0 20px;
  }

  &:hover {
    background-color: $highlight-light-color;

    .icon-link {
      display: inline;
    }
  }

}

.checkbox {
  @include flex(row, center, flex-start);
  position: relative;
  padding-left: ($base-size * 4);
  //margin-bottom: $base-size;
  user-select: none;
  height: 100%;
  cursor: pointer;
  color: $sidebar-dark-color;

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    height: 16px;
    width: 16px;
    border: 1px solid $bg-light-color;
    background-color: $highlight-text-color;

    &:after {
      content: "";
      position: absolute;
      display: none;
      width: 9px;
      height: 5px;
      border-left: 2px solid $highlight-text-color;
      border-bottom: 2px solid $highlight-text-color;
      transform: rotate(-45deg);
      top: 4px;
      left: 3px;
    }
  }

  &:hover input ~ .checkbox__checkmark {
    content: none;
  }
  
  input:checked ~ .checkbox__checkmark {
    background-color: $checked;
  }

  input:checked ~ .checkbox__checkmark:after {
    display: block;
  }

  &.checkbox--round {
    .checkbox__checkmark {
      border-radius: 50%;
    }
  }

}

/* Table */

.table-container {
  &__small {
    max-width: 684px;
    margin: 24px auto;
  }

  &__large {
    max-width: 1020px;
    margin: 18px;
  }

}

.table__small {
  width: 100%;
  border-top: 1px solid $bg-light-color;

  tr {
    @include flex(row, center, space-between);
    height: 60px;
    margin: 0;
    //border-bottom: 1px solid $bg-light-color;

    &:hover {
      background-color: $highlight-light-color;

      .table-actions i {
        visibility: visible;
      }
    }

    th, td {
      @include flex(row, center, flex-start);
      padding: 0;
      height: 100%;
    }
  
    th {
      font-weight: $font-normal;
      color: $base-text-color;
      flex: 3.5;
    }
  
    td {
      flex: 3;
    }
  
    .table-actions {
      @include flex(row, center, space-evenly);
      flex: 1;
  
      i {
        visibility: hidden;
      }
    }
  
    .table-icon {
      &.active {
        transform: rotate(180deg);
      }
    }
  }
}

.table__large {
  width: 100%;

  thead {
    color: $base-text-color;
    font-weight: $font-normal;
  }

  tbody {
    color: $sidebar-dark-color;

    th, td {
      font-weight: $font-light;
    }

  }

  th, td {
    min-width: 30px;
    width: fit-content;
  }
}